<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <title>⚡️</title>
    <meta name="description" content="Made by Darve." />
    <meta name="keywords" content="halloween is draculas birthday" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="/pub/app.css"/>
</head>
<body>
    <div id="root"></div>
    <script src="/pub/app.js"></script>
</body>
</html>
